<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor2e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}} flexrow" autocomplete="off">

        {{> "systems/tor2e/templates/sheets/items/components/item-header-card.hbs"
                item=this.item
                label="tor2e.items.skills.title"
                alt="tor2e.items.skills.tech.alt"}}

        <div class="sheet-content flexcol">
            <div class="item-row flexrow separated">
                <div class="item-element">
                    <label for="data.group.value-{{item.id}}">{{localize data.group.label}}</label>
                    <select id="data.group.value-{{item.id}}" name="data.group.value">
                        {{#select data.group.value}}
                            {{#each config.skillGroups as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="item-element">
                    <label for="data.associatedStat.value-{{item.id}}">{{localize data.associatedStat.label}}</label>
                    <select id="data.associatedStat.value-{{item.id}}" name="data.associatedStat.value">
                        {{#select data.associatedStat.value}}
                            {{#each config.stats as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="description flexcol">
                <h2>{{localize data.description.label}}</h2>
                {{editor content=data.description.value target="data.description.value" button=true owner=isOwner
                         editable=true}}
            </div>
        </div>

    </form>
</div>